body {
    color: black;
}

a {
    color: #f09f00
}

a:visited {
    color: #da6900
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #103966;
    font-family: "Waiting for the Sunrise";
    font-size: 1.35em;
}



h1,
h2 {
    color: #00a8db;
    font-family: "Rubik";
    font-weight: 700;
}
h4 {
    font-size: 1em;
    color: #103966;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Work Sans";
}

#main {
    position: relative;
}
@media (min-width: 80em) {
    #main {
        max-width: 100%;
    }
}

@media (min-width: 80em) {
    .sidebar {
        width: calc(400px - 1em);
    }
}

@media (min-width: 80em) {
    .archive {
        width: calc(100% - 400px);
        padding-right: 200px;
    }
}
.float-left {
    float: left;
    margin-right: 2em;
}