.page__hero--overlay {
    margin-bottom: 0;
}

.page__hero--overlay .wrapper {
    background-color: #0000007a;
    padding: 1em;
}

img.gallery {
    max-width: 200px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    border: thin solid #ccc;
}