---
layout: archive
---

{{ content }}

<h2 style="clear:both">My Best Work</h2>

{% if paginator %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'grid' %}
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Product Management"
    }}</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'work' and post.tags contains "Product Management"%}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Artificial Intelligence" }}
</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'work' and post.tags contains 'AI' %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Data Visualization" }}
</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
        {% if post.highlight_home and post.categories contains 'work' and post.tags contains 'Data Visualization' %}
        {% include archive-single.html type=entries_layout %}
        {% endif %}
    {% endfor %}
</div>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Design and Branding" }}
</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'work' and post.tags contains 'Design and Branding' %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Video & 3D Work" }}
</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'work' and post.tags contains '3D and Motion Graphics'%}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Tutorials" }}
</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'work' and post.tags contains 'Tutorials' %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Writing" }}</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
        {% if post.highlight_home and post.categories contains 'article' %}
            {% include archive-single.html type=entries_layout %}
        {% endif %}
    {% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Artwork" }}</h3>
<div class="entries-{{ entries_layout }} watercolor">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'artwork' %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>

{% include paginator.html %}