---
layout: archive
---

{{ content }}

<h2 style="clear:both">My Best Work</h2>

{% if paginator %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'grid' %}
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Product Design and Management"
    }}</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'product' %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Development Work" }}
</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
        {% if post.highlight_home and post.categories contains 'work' %}
        {% include archive-single.html type=entries_layout %}
        {% endif %}
    {% endfor %}
</div>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Tutorials" }}
</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'tutorials' %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Design and Branding" }}
</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'design' %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Video & 3D Work" }}
</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'video' %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Articles" }}</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
        {% if post.highlight_home and post.categories contains 'article' %}
            {% include archive-single.html type=entries_layout %}
        {% endif %}
    {% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Artwork" }}</h3>
<div class="entries-{{ entries_layout }} watercolor">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'artwork' %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>

{% include paginator.html %}